/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.min.css";

$primary-color: rgb(0, 48, 119);

@mixin card() {
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
}

body {
  margin: 0;
  padding : 0;
  font-family: 'Roboto', sans-serif;
}
